.login-options {
  margin: 0 auto;
}

.login-to-game-btn {
  background-color: cadetblue;
}

.create-new-game-btn {
  background-color: cadetblue;
  margin-right: 10%;
  display: inline-block;
}
.new-game-name {
  margin-top: 10%;
}

.login-form {
  width: 50%;
  margin: 2rem auto 0;
}
@media (max-width: 600px) {
  .login-form {
    width: 80%;
    margin: 2rem auto 0;
  }
}

mat-spinner {
  margin: auto;
}
